body {
  margin: 0;
  font-family: 'Arial', sans-serif; /* Specify fallback fonts */
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.word {
  font-family: 'saiba', Arial, sans-serif; /* Specify the custom font and fallback fonts */
  font-size: 2vw;
  text-align: center;
  transform: skew(-10deg);
}

.katakana {
  font-family: 'katakana1', Arial, sans-serif; /* Specify the custom font and fallback fonts */
  padding-bottom: 50%;
  font-size: 2vw;
  text-align: center;
}

.video {
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

.custom-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.menu a:hover .word{
  font-family: 'saibaoutline', Arial, sans-serif;
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    right: 0.1vw;
    top: 0.1vh;
    width: 12%;
    background-color: rgba(0, 0, 0, 0.534);
    z-index: 20;
    padding-top: 8vh;
    word-wrap: normal;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover{
    animation: textGlowAnimation 5s infinite;
}

@keyframes textGlowAnimation {
    0% {
      text-shadow: 0 0 40px rgba(255, 0, 0, 0.8); /* Red glow */
      color: rgb(255, 0, 0);
    }
    10% {
      text-shadow: 0 0 40px rgba(255, 255, 0, 0.8); /* Yellow glow */
      color: rgb(255, 255, 0);
    }
    20% {
      text-shadow: 0 0 40px rgba(0, 255, 0, 0.8); /* Green glow */
      color: rgb(0, 255, 0);
    }
    30% {
      text-shadow: 0 0 40px rgba(0, 255, 255, 0.8); /* Cyan glow */
      color: rgb(0, 255, 255);
    }
    40% {
      text-shadow: 0 0 40px rgba(0, 0, 255, 0.8); /* Blue glow */
      color: rgb(0, 0, 255);
    }
    50% {
      text-shadow: 0 0 40px rgba(128, 0, 255, 0.8); /* Purple glow */
      color: rgb(128, 0, 255);
    }
    60% {
      text-shadow: 0 0 40px rgba(255, 0, 255, 0.8); /* Magenta glow */
      color: rgb(255, 0, 255);
    }
    70% {
      text-shadow: 0 0 40px rgba(255, 255, 0, 0.8); /* Yellow glow */
      color: rgb(255, 255, 0);
    }
    80% {
      text-shadow: 0 0 40px rgba(0, 255, 0, 0.8); /* Green glow */
      color: rgb(0, 255, 0);
    }
    90% {
      text-shadow: 0 0 40px rgba(0, 0, 255, 0.8); /* Blue glow */
      color: rgb(0, 0, 255);
    }
    100% {
      text-shadow: 0 0 40px rgba(128, 0, 255, 0.8); /* Purple glow */
      color: rgb(128, 0, 255);
    }
  }
  
.sidebar {
    position: fixed;
    left: 0.1vw;
    top: 0.1vh;
    width: 5%;
    background-color: #4e1b1b00; /* check where the sidebar is */
    color: white;
    z-index: 20;
}

.image-list {
    display: flex;
    flex-direction: column;
}

.image-list a {
    margin-bottom: -0.3vh;
    display: block;
    text-decoration: none;
    color: white;
}

.image-list img {
    max-width: 100%;
    height: auto;
}

main {
    position: relative;
    z-index: 10;
    padding: 20px;
    left: 5%;
    width: 80.5%;
}

.image-section {
    border: 2px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    display: none; /* Initially hide the image sections */
}

.image-section:target {
    display: block; /* Show the targeted image section */
}

img {
    max-width: 30%;
    height: auto;
}

table {
    color: white;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}
